
#alcim{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#gomb button{
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
    font-size: 5em;
    padding-bottom: 20px;
}

#tabla table{
    margin: auto;
    border-color: white;
    border: 5px;
    border-spacing: 0.5em 0.5em;
}

#tabla table tr td{
    background-color: aquamarine;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size:xx-large;
} 

#eredmeny{
    margin: auto;
    padding: 20px;
    border-spacing: 3rem 0rem;
}

#eredmeny tr td{
    width: 20%;
    height:15% ;
    border: 2px solid black;
    background-color:beige ;
    border-radius: 20%;
    text-align: center;

}