
#alcim{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#gomb button{
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
    
}

#tabla table{
    margin: auto;
    
    border-color: white;
    border: 5px;
}

#tabla table tr td{
    background-color: aquamarine;
    height: 10px;
    width: 10px;
} 

#eredmeny{
    margin: auto;
}